.button {
  @media (min-width: $tablet-width) {
    width: 37px;
    height: 35px;
    border: 1px solid $additional;
    background-color: $additional;
    color: $base-white;
    cursor: pointer;
  }

  &:hover {
    background-color: $base-white;
    border: 1px solid $condition-active;
    color: $condition-active;
  }

  &:focus {
    background-color: $base-white;
    border: 1px solid $base-white;
    color: $condition-active;
  }

  &:active {
    background-color: $condition-active;
    border: 1px solid $condition-active;
    color: $base-white;
  }

  &:disabled {
    background-color: $condition-disabled;
    border: 1px solid $condition-disabled;
    color: $base-white;
  }
}

.button--next .icon {
  transform: rotate(180deg);
}
