.reviews__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 60px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 120px;
    right: 120px;
  }
}
